name: Build and publish

on:
  workflow_call:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Build
        uses: ./.github/actions/build

      - name: Publish
        if: github.ref_name == 'main'
        run: ./gradlew publish --console=plain

      - name: Determine snapshot props
        if: startsWith(github.ref_name, 'dev/')
        id: snapshot-props
        run: |
          props=$(./gradlew properties --quiet --console=plain)

          group=$(echo "$props" | grep '^group:' | cut -d ' ' -f 2)
          name=$(echo "$props" | grep '^name:' | cut -d ' ' -f 2)
          package_name=$group.$name
          echo "package-name=$package_name" >> $GITHUB_OUTPUT
          echo Package name: $package_name

          version=$(echo "$props" | grep '^version:' | cut -d ' ' -f 2)
          if [[ ! "$version" =~ -SNAPSHOT$ ]]; then
            version="$version-SNAPSHOT"
          fi
          echo "version=$version" >> $GITHUB_OUTPUT
          echo Snapshot version: $version

      - name: Delete old snapshot
        uses: actions/delete-package-versions@v5
        if: steps.snapshot-props.outcome == 'success'
        with:
          package-type: maven
          package-name: ${{ steps.snapshot-props.outputs.package-name }}
          num-old-versions-to-delete: 1
          # Matcher alt unntatt bestemt snapshot-versjon
          ignore-versions: ^(?!${{ steps.snapshot-props.outputs.version }}$).*

      - name: Publish snapshot
        if: steps.snapshot-props.outcome == 'success'
        run: ./gradlew publish -Pversion=${{ steps.snapshot-props.outputs.version }}
